@tailwind base;
@tailwind components;
@tailwind utilities;

a{
  text-decoration: none !important;
}
.bg-neutral-900 label{
  color: #a1a2a3;
}
.bg-neutral-900 input{
  border-bottom: 1px solid #494C4F;
}
.bg-neutral-900 input:focus{
  border-color: lime;
}


  
