:root {
  --bg-primary: #f4f5ff;
  --bg-secondary: #87ceeb;
  --bg-active: #fff;
  --cl-text: #f6f4e6;
  --bg-color: #5a5c69;
  --bg-color1: #4e73df;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mysiderbar a {
  text-decoration: none;
  color: #5a5c69;
}
.mysiderbar a:hover {
  opacity: 0.6;
}
.mysiderbar button#dropdown-basic {
  display: flex;
  align-items: center;
}
.mysiderbar .messagerie button {
  background: none !important;
  border: none;
  color: #5a5c69;
}
.mysiderbar .monProfile img {
  width: 25px;
  height: 25px;
  border-radius: 2px;
}
.mysiderbar .userIcon {
  background: #8f8f8f;
  padding: 3px 10px 3px 10px;
  border-radius: 1rem;
}
.mysiderbar nav {
  position: fixed;
  width: 60px;
  height: 100%;
  top: 0;
  left: 0px;
  display: flex;
  background: var(--bg-active);
  transition: 0.5s;
  box-shadow: 0 0.5rem 1.5rem rgba(1, 1, 1, 0.6);
  overflow: hidden;
  z-index: 1;
}
.mysiderbar nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.mysiderbar nav ul li {
  list-style: none;
  width: 100%;
  position: relative;
}
.mysiderbar nav ul li a:hover,
.mysiderbar nav ul li .messagerie button:hover {
  color: var(--bg-active);
  border-bottom: none;
}
.mysiderbar nav ul li a:hover a,
.mysiderbar nav ul li .messagerie button:hover a {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: var(--bg-color);
  transition: 0.2s;
}
.mysiderbar nav ul li a:hover a::after,
.mysiderbar nav ul li .messagerie button:hover a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: 0.2s;
}
.mysiderbar nav ul li a:hover a::after .icon,
.mysiderbar nav ul li .messagerie button:hover a::after .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.mysiderbar nav ul li a:hover a::after .icon *,
.mysiderbar nav ul li .messagerie button:hover a::after .icon * {
  font-style: 1.1rem;
}
.mysiderbar nav ul li a:hover a::after .title,
.mysiderbar nav ul li .messagerie button:hover a::after .title {
  position: relative;
  font-style: 0.85rem;
}
.mysiderbar nav ul li a:hover a::after .toggle,
.mysiderbar nav ul li .messagerie button:hover a::after .toggle {
  border-bottom: 3px solid var(--bg-primary);
}
.mysiderbar nav ul:hover {
  background: var(--bg-color);
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.mysiderbar nav ol, .mysiderbar nav ul {
  padding-left: 0rem;
}
.mysiderbar nav.active {
  width: 230px;
  z-index: 1012;
}
.mysiderbar .toggle {
  cursor: pointer;
}
.mysiderbar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--bg-active);
  box-shadow: 0 0.5rem 1.5rem rgba(10, 10, 10, 0.2);
  color: var(--bg-color);
}
.mysiderbar .out {
  margin-top: 50px;
}
.mysiderbar .sous-p-link a {
  color: black;
}
.mysiderbar .sous-p-link a:hover {
  opacity: 0.5;
}
.mysiderbar .btn-message {
  background: #8f8f8f;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 1399px) {
  .CardDash .myContent1 {
    margin-top: 20px;
  }
  .mysiderbar .out {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .CardDash .myContent1 {
    margin-top: 20px;
  }
  .mysiderbar .out {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .mysiderbar header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: var(--bg-active);
    box-shadow: 0 0.5rem 1.5rem rgba(10, 10, 10, 0.2);
    color: var(--bg-color);
  }
  .mysiderbar header a {
    color: var(--bg-color);
  }
  .mysiderbar nav.active {
    left: 0;
    width: 40%;
    z-index: 1012;
  }
  .mysiderbar nav {
    left: -60px;
    top: 60px;
  }
  .mysiderbar nav ul li a.toggle {
    display: none;
  }
  .mysiderbar header .text-middle h4 {
    display: none;
  }
  .mysiderbar nav ul li a .icon {
    height: 50px;
  }
}
@media only screen and (max-width: 567px) {
  .mysiderbar header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: var(--bg-active);
    box-shadow: 0 0.5rem 1.5rem rgba(10, 10, 10, 0.2);
    color: var(--bg-color);
  }
  .mysiderbar header a {
    color: var(--bg-color);
  }
  .mysiderbar nav.active {
    left: 0;
    width: 70%;
    z-index: 1012;
  }
  .mysiderbar nav {
    left: -60px;
    top: 60px;
  }
  .mysiderbar nav ul li a.toggle {
    display: none;
  }
  .mysiderbar header .text-middle h4 {
    display: none;
  }
  .mysiderbar .userIcon {
    background: #8f8f8f;
    padding: 3px 8px 3px 8px;
    border-radius: 1rem;
    font-size: 10px;
  }
  .mysiderbar .userIcon .nomUser {
    display: none;
  }
}/*# sourceMappingURL=sidebare.css.map */